#root {
  width: 120%;
  height: 100%;
  margin-left: 30px;
  transform: scale(0.8); /* 기본 80% 설정 */
  transform-origin: 0 0; /* 원점 기준으로 스케일 조정 */
}

* {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: Spoqa Han Sans Neo;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  display: flex;
}

.others {
  flex : 6;
}
