.chart {
  width: 750px;

  margin : 20px;
  padding : 20px;

  -webkit-box-shadow: 0px 0px 12px -1px #000000;
  box-shadow: 0px 0px 12px -1px #000000;
}

.chartTitle {
  margin-bottom: 30px;
}


/* 차트 기간 버튼 CSS */
.periodSelector {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  .periodSelector button {
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-size: 14px;
    margin: 0 5px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .periodSelector button:hover {
    background-color: gainsboro;
  }
