.navbar {
    width: 100%;
    background-color: white;
    padding: 15px 0px;
    text-align: center;
    margin: 10px;
  }
  
  .navbarMenu {
    background-color: gray;
    color: white;
    margin: 8px;
    text-decoration: none;
    border: 2px soild green;
    border-radius: 30px;
    padding: 10px 10px;
  }