.main {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.product {
  width: 700px;
  height: 800px;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-left: 10px; 
}

.product_img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.product_img img {
  width: 90%;
  height: 80%;
  border-radius: 10px;
  margin-left: 30px;
}

.product_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product_info .seller_store {
  font-size: 18px;
  line-height: 23px;
  color: #767676;
  margin-bottom: 16px;
}

.product_info .product_name {
  font-size: 26px;
  line-height: 45px;
  color: #000000;
  margin-bottom: 20px;
  max-width: 40ch;
  overflow-wrap: break-word; 
  white-space: normal; 
}

.product_info .price {
  font-size: 30px;
  line-height: 45px;
  color: #000000;
  margin-bottom: 30px;
  margin-top: 30px;
}

.product_info .unit {
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.line {
  width: 600px;
  height: 2px;
  background: #c4c4c4;
  margin-bottom: 30px;
}

.desc {
  margin-top: 140px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

/* 구매하기 버튼 CSS */
.buyButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: cadetblue;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
}

.buyButton:hover {
  background-color: gray;
}

/* 찜목록 버튼 CSS */
.favorite {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: cadetblue;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
}
 .favorite:hover {
  background-color: gray;
 }

/* 할인률 CSS */
 .discount_rate {
  color: black;
  font-size: 24px;
  font-weight: bold;
}

/* 옵션 CSS */
.option {
  border: 2px solid black;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  background-color: ghostwhite;
  padding: 3px 3px 3px 3px;
  margin-bottom: 20px;
  margin-top: 30px;
  max-width: 50ch;
  overflow-wrap: break-word; 
  white-space: normal;
}

/* 상품설명 라인 간격 CSS */
.des_line {
  margin: 0; /* 모든 마진 제거 */
  padding: 0; /* 모든 패딩 제거 */
  line-height: 1.2; /* 줄 간격 조절 (원하는 값으로 설정) */
}

/* 배송일 CSS */
.delivery {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  display: inline-flex;
}

.delivery img { 
  margin-right: 5px;
}

.deliveryText {
  margin-top: 2px;
}

/* 제품 리뷰 별점 CSS */
.rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rating svg {
  color: gold;
  margin-right: 4px; /* 별 사이의 간격 조절 */
}

/* 알림메시지 CSS */
.alert {
  position: fixed; /* 화면에 고정 */
  top: 20px; /* 화면 상단에 표시 */
  left: 60%; /* 화면 중앙에 위치 */
  transform: translateX(-50%); /* 가로축 중앙 정렬 */
  background-color: skyblue; /* 배경색: 녹색 */
  color: white; /* 글자색: 흰색 */
  padding: 16px; /* 여백 */
  border-radius: 4px; /* 모서리 둥글게 */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 */
  z-index: 1000; /* 다른 요소들보다 위에 표시 */
  font-size: 16px; /* 글자 크기 */
  text-align: center; /* 중앙 정렬 */
  animation: fadeInOut 3s ease-in-out; /* 페이드 인/아웃 애니메이션 */
}

/* 제품 리뷰 글씨체 CSS */
.rating_line {
  padding-bottom: 10px;
  margin-right: 10px;
  font-weight: bold;
}

/* 차트 CSS */
.LineCharts {
  width: 1000px;
}